@media(max-width: 1296px){
    
.main__block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.header__top-content{
    justify-content: space-evenly;
}
.header__top-list{
    justify-content: space-evenly;
}
.header__block{
    justify-content: space-evenly;
}
}
@media(max-width: 1104px){
    .header__input{
        width: 500px;
        height: 30px;
    }
    .header__list{
        justify-content: space-evenly;
        font-size: 14px;
    }
    .footer__links{
        gap: 10px;
    }


}


@media(max-width: 1038px){
    .footer__info{
        flex-direction: column;
       align-content: flex-end;
    }
}
@media(max-width: 765px){
    .header__block img{
        margin-bottom: 15px;
    }
    .header__input{
        margin-bottom: 15px;
    }
    .header__link{
        margin-bottom: 15px;

    }
    .main__block{
        grid-gap: 0px;
    }
    .main__item:hover{
        transform: scale(1.1);
    }
    .main__item{
        margin-bottom: 20px;
    }
}
@media(max-width: 541px){
    .header__top-list{
        margin-bottom: 10px;
    }
    .header__input{
        width: 300px;
        height: 25px;
    }
    .header__title {
        font-size: 35px;
        
    }
    .header__img{
        padding-left: 50px;
    }
    .header__text{
        
        width: 100px;
        font-size: 12px;
    }
    .header__button{
        width: 140px;
        height: 40px;
        font-size: 10px;
    }
    .header__link{
        font-size: 12px;
    }
    .header__link li{
        font-size: 12px;
    }
    .footer__link{
        font-size: 10px;
    }
    .footer__title{
        font-size: 30px;
    }
    .footer__right-text{
        font-size: 10px;
    }
    .footer__info i{
        margin-right: 0;
        font-size: 10px;
    }
   
}
@media(max-width: 420px){
    .main__item{
        width: 200px;
        min-height: 200px;
    }
}